# Arquivos e diretórios específicos para PHP
/vendor/
/composer.phar
/phpunit.phar

# Dependências do Node.js
/node_modules/
/package-lock.json
/yarn.lock

# Arquivos gerados pelo TypeScript
/dist/
/tsconfig.tsbuildinfo

# Arquivos de ambiente
.env

# Logs e arquivos de saída
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

# Arquivos de backup
*.bak
*.swp
*~

# Arquivos de sistema
.DS_Store
Thumbs.db

# Cache de IDEs e editores
/.idea/
/.vscode/
/.vs/
